.header {
    background-color: darkgray;
    height: 90px;
}

.main {
    background-color: aliceblue;
    height: 600px;
}

.footer {
    background-color: lightblue;
    height: 270px;
}

.header-title {
    color: black;
    font-size: 30px;
    float: left;
    padding-left: 20px;
}

.header-url {
    font-size: 20px;
}

.header-links {
    padding-left: 40px;
}

.footer-title {
    float: left;
    color: black;
    font-size: 30px;
    padding: 20px 20px;
}

.header-links li {
    float: left;
    list-style: none;
    padding: 30px 20px;
}

.footer-list li {
    list-style: none;
    font-size: 20px;
    padding: 10px 20px;
}

.footer-list {
    float: right;
}